<div class="character-info">
	<input type="text" placeholder="Your Name" data-ng-model="vm.Name" />
</div>
<div class="counters">
	<div class="counter push-left">
		<h2>Level</h2>
		<a data-ng-click="vm.LevelUp()">
			<img src="images/go-up.svg" alt="Level up" />
		</a>
		<h1>{{ vm.GetLevel() }}</h1>
		<a data-ng-click="vm.LevelDown()">
			<img src="images/go-down.svg" alt="Level down" />
		</a>
	</div>
	<div class="counter push-right">
		<h2>Gear</h2>
		<a data-ng-click="vm.GearUp()">
			<img src="images/go-up.svg" alt="Gear up" />
		</a>
		<h1>{{ vm.GetGear() }}</h1>
		<a data-ng-click="vm.GearDown()">
			<img src="images/go-down.svg" alt="Gear down" />
		</a>
	</div>

	<div class="clearfix">
		<h2>Power</h2>
		<h1>{{ vm.GetPower() }}</h1>
	</div>
</div>